/* Admin styles for WeTechPro */
#adminmenu .toplevel_page_wetechpro .wp-menu-image img {
    width: 20px !important;
    height: 20px !important;
    text-align: center !important;
    transform: translateX(0px) translateY(-3px) !important;
}